body{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
}
/*Div containing all elements (feels like this could just be left as body, need to test)  */
#all{
   width: 100%;
   height: 100%;
}
/*Text log styling  */
div.ex1 {
opacity:0.7;
background-color: #202020 ;
width: 25%;
height: 20%;
overflow: scroll;
position:absolute;
top:68%;
z-index:20;
border-radius: 20px;
left:15px;
padding-left: 1%;
padding-right:2%;
padding-bottom: 5%;
}
div.ex1 p {
 font-family: monospace;
 color: #909090;
 opacity: 1;

}
#log_entries{
 font-family: monospace;
 /* opacity: 1; */
}
/*Sizing for maps  */
#regions_div {
position:absolute;
height: 100%;
width: 100%;
z-index:-1;
margin-left:0;
margin-right:0;
  }
