<!DOCTYPE html>
<html>

<head>
  <title>Order Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
  <!-- this includes you API key -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPMAHRoTOroLYWZfK8dY2noG8XkPhmnis&callback=initMap"
    type="text/javascript"></script>
  <script type="text/javascript" src="../static/charts_loader.js"></script>
  <script type="text/javascript" src="../static/socketio.js"></script>
  <script>
  function LondonTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();

    m = checkTime(m);
    
    document.getElementById('txtLondon').innerHTML =
      h + ":" + m;
    // var t = setTimeout(LondonTime, 5000);

    document.getElementById('txtBeijing').innerHTML =
      checkTime((h + 8)%24) + ":" + m;
    // var t = setTimeout(LondonTime, 5000);

    document.getElementById('txtNyc').innerHTML =
      checkTime((h - 5+24))%24 + ":" + m;
    // var t = setInterval(LondonTime, 5000);

  }
  function checkTime(i) {
    if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
    return i;
  }

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');
    google.charts.load('current', { 'packages': ['geochart'] });
    google.charts.setOnLoadCallback(drawMap);
    rawData = [
      ['country_code', 'value'],
    ];
    var value_dict = {};
    var counter_dict = {};
    var value_in_minutes = 0;
    var value_show_on_log = 0;
    //function to draw map (google api)
    function drawMap() {

      var data_counter = new google.visualization.DataTable();
      data_counter.addColumn('string', 'Country');
      data_counter.addColumn('number', 'Number of orders');

      var data_value = new google.visualization.DataTable();
      data_value.addColumn('string', 'Country');
      data_value.addColumn('number', 'Value of order');

      var options_value = {

        colorAxis: {
          colors: ['#724F55', '#AE505E', '#C75162', '#E05266', '#F9536A']
        },
        backgroundColor: { stroke: '#202020', fill: '#202020' },
        datalessRegionColor: '#808080',
        legend: 'none'
      };

      var options_counter = {
        colorAxis: { colors: ['#486550', '#529C64', '#57B36C', '#5BCA74', '#60E17D'] },
        backgroundColor: { stroke: '#202020', fill: '#202020' },
        datalessRegionColor: '#808080',
        legend: 'none'
      };

      data = google.visualization.arrayToDataTable(rawData);
      var options = {
        displayMode: 'markers',
        colorAxis: { colors: '#ffff00' },
        backgroundColor: { stroke: '#202020', fill: '#202020' },
        datalessRegionColor: '#808080',
        legend: 'none'
      };

      var map = new google.visualization.GeoChart(document.getElementById('regions_div'), {});
      function resize() {
        var chart = new google.visualization.LineChart(document.getElementById('regions_div'));
        chart.draw(data, options);
      }

      window.onload = resize;
      window.onresize = resize;

      daMap = {
        'GB': 'United Kingdom', 'JP': 'Japan', 'FR': 'France', 'MO': 'Macao', 'IT': 'Italy', 'SE': 'Sweden', 'HK': 'Hong Kong',
        'TW': 'Taiwan', 'US': 'United States of America', 'RU': 'Russian', 'NL': 'Netherlands', 'BA': 'Bosnia and Herzegovina',
        'FI': 'Finland', 'ES': 'Spain', 'SG': 'Singapore', 'KG': 'Kyrgyzstan', 'AU': 'Australia', 'IN': 'India',
        'AT': 'Austria', 'DK': 'Denmark', 'PT': 'Portugal', 'IE': 'Ireland', 'AZ': 'Azerbaijan', 'KR': 'South Korea',
        'CY': 'Cyprus', 'LK': 'Sri Lanka', 'HU': 'Hungary', 'DE': 'Germany', 'BG': 'Bulgaria', 'RO': 'Romania', 'BE': 'Belgium',
        'NO': 'Norway', 'CN': 'China', 'NZ': 'New Zealand', 'LV': 'Latvia', 'CZ': 'Czechia', 'GR': 'Greece', 'LU': 'Luxembourg', 'AE': 'United Arab Emirates',
        'SA': 'Saudi Arabia', 'MY': 'Malaysia', 'MT': 'Malta', 'CH': 'Switzerland', 'PL': 'Poland', 'LT': 'Lithuania', 'SK': 'Slovakia', 'BR':'Brazil', 'DZ':'Algeria', 'HR':'Croatia',
        'TR':'Turkey', 'AO':'Angola', 'ZA':'South Africa', 'MW':'Malawi', 'CA':'Canada', 'PE':'Peru', 'TH':'Thailand', 'KZ':'Kazakhstan', 'OM':'Oman',
        'CO':'Colombia', 'EE':'Estonia', 'KH':'Cambodia', 'VN':'Viet Nam', 'IL':'Israel', 'MD':'Moldova', 'UZ':'Uzbekistan', 'MA':'Morocco','MK':'Macedonia',
        'RS':'Serbia', 'UA':'Ukaraine', 'BO':'Bolivia', 'AR':'Argentina', 'TD':'Chad', 'SN':'Senegal', 'NG':'Nigeria', 'NA':'Namibia', 'MG':'Madagascar',
        'ZM':'Zambia', 'GA':'Gabon', 'NA':'Namibia', 'MX':'Mexico'
      }


      window.setInterval(function () {
        LondonTime();
        document.getElementById("legend_div").style.visibility = "hidden";
        document.getElementById("col12").innerHTML = "";
        document.getElementById("col22").innerHTML = "";
        document.getElementById("col32").innerHTML = "";
        document.getElementById("col42").innerHTML = "";
        document.getElementById("col52").innerHTML = "";
        document.getElementById('col11').innerHTML = "";
        document.getElementById('col21').innerHTML = "";
        document.getElementById('col31').innerHTML = "";
        document.getElementById('col41').innerHTML = "";
        document.getElementById('col51').innerHTML = "";
      data = google.visualization.arrayToDataTable(rawData);
          map.draw(data, options);
          document.getElementById("Title").innerHTML = "Realtime Orders (bigger dot larger order value)";

        window.setTimeout(function () {
          LondonTime();
          document.getElementById("legend_div").style.visibility = "visible";
          var arr = Object.keys(value_dict).map(function (key) { return value_dict[key]; });
          var min_val = Math.min.apply(null, arr);
          var max_val = Math.max.apply(null, arr);
          window.setTimeout(function () {
          LondonTime();
            document.getElementById("legend_div").style.visibility = "visible";
            var arr = Object.keys(counter_dict).map(function (key) { return counter_dict[key]; });
            var min = Math.min.apply(null, arr);
            var max = Math.max.apply(null, arr);

            for (var key in counter_dict) { data_counter.addRow([key, counter_dict[key]]) };
            map.draw(data_counter, options_counter);
            var text_testy4 = options_counter["colorAxis"]["colors"][0];
            var text_testy5 = options_counter["colorAxis"]["colors"][1];
            var text_testy6 = options_counter["colorAxis"]["colors"][2];
            var text_testy7 = options_counter["colorAxis"]["colors"][3];
            var text_testy8 = options_counter["colorAxis"]["colors"][4];

            document.getElementById("Title").innerHTML = "Accumulated Number of Orders";

            document.getElementById("col12").innerHTML = Number(((max).toPrecision(1))) + " orders";
            document.getElementById("col22").innerHTML = Number(((max - min) * 0.5).toPrecision(1)) + " orders";
            document.getElementById("col32").innerHTML = Number(((max - min) * 0.25).toPrecision(1)) + " orders";
            document.getElementById("col42").innerHTML = Number(((max - min) * 0.125).toPrecision(1)) + " orders";
            document.getElementById("col52").innerHTML = min + " orders";
            document.getElementById('col11').style.backgroundColor = text_testy8;
            document.getElementById('col21').style.backgroundColor = text_testy7;
            document.getElementById('col31').style.backgroundColor = text_testy6;
            document.getElementById('col41').style.backgroundColor = text_testy5;
            document.getElementById('col51').style.backgroundColor = text_testy4;
        }, 2000);

          for (var key in value_dict) { data_value.addRow([key, value_dict[key]]) };
          map.draw(data_value, options_value);
          var text_testy00 = options_value["colorAxis"]["colors"][0];
          var text_testy0 = options_value["colorAxis"]["colors"][1];
          var text_testy1 = options_value["colorAxis"]["colors"][2];
          var text_testy2 = options_value["colorAxis"]["colors"][3];
          var text_testy3 = options_value["colorAxis"]["colors"][4];

          document.getElementById("Title").innerHTML = "Accumulated Order Value";


          document.getElementById("col12").innerHTML = "£ " + Number(max_val.toPrecision(1));
          document.getElementById("col22").innerHTML = "£ " + Number(((max_val - min_val) * 0.5).toPrecision(1));
          document.getElementById("col32").innerHTML = "£ " + Number(((max_val - min_val) * 0.25).toPrecision(1));
          document.getElementById("col42").innerHTML = "£ " + Number(((max_val - min_val) * 0.125).toPrecision(1));
          document.getElementById("col52").innerHTML = "£ " + Number((min_val).toPrecision(1));

          document.getElementById('col11').style.backgroundColor = text_testy3;
          document.getElementById('col21').style.backgroundColor = text_testy2;
          document.getElementById('col31').style.backgroundColor = text_testy1;
          document.getElementById('col41').style.backgroundColor = text_testy0;
          document.getElementById('col51').style.backgroundColor = text_testy00;


      }, 4000);


    }, 10000)
      socket.on('my_response', function (msg) {
        if (msg.accumulate_value != null) {
          console.log(msg.accumulate_value);
          var i;
          for (i = 0; i < (msg.accumulate_value).length; i++) {
            value_dict[msg.accumulate_value[i]['country_code']] = msg.accumulate_value[i]['value'];
            counter_dict[msg.accumulate_value[i]['country_code']] = msg.accumulate_value[i]['total_order_number'];
          };
          for (var key in value_dict) { data_value.addRow([key, value_dict[key]]) };
          map.draw(data_value, options_value);
        }
        else {
          if (value_dict[msg.code] != undefined) { value_dict[msg.code] += msg.count }
          else { value_dict[msg.code] = msg.count };
          if (counter_dict[msg.code] != undefined) { counter_dict[msg.code] += 1 }
          else { counter_dict[msg.code] = 1 };
          value_in_minutes += msg.count;
          rawData.push([daMap[msg.code], msg.count]);
          window.setInterval(function () {
            if (rawData.length > 500) { rawData.splice(1, 100) }
          }, 10000);
        };
        console.log(msg);
      });
      window.setInterval(function () {
        value_show_on_log = value_in_minutes;
        console.log(value_in_minutes);
        value_in_minutes = 0
      }, 60000);
    };


    var messages = [];
    var colour_to_brand_dict = {
      "myprotein": "#33ccff", "lfint": "#cc99ff", "zavvi": "#ff9999", "beautyexpert": "#99ff99"
    };
    socket.on('my_response', function (msg) {
      if (messages.length <= 10) {
        var message_string;
        message_string = "<span style= \"font-weight:500; color:white; font-size:16px\">" + msg.code + "</span>" + "&nbsp &nbsp &nbsp" + "<span style= \"color:" + colour_to_brand_dict[msg.channel] + "; font-size:16px\">" + msg.channel + "</span>" + " " + "<span style= \"font-size:16px;\">" + "£" + msg.count + "</span>" + '\n';
        messages.push(message_string);
      }

      else {
        var messages_recent = messages.join("<br/>");
        document.getElementById("log_entries").innerHTML = messages_recent;
        messages.shift();
        var message_string;
        message_string = "<span style= \"font-weight:500; color:white; font-size:16px\">" + msg.code + "</span>" + "&nbsp &nbsp &nbsp" + "<span style= \"color:" + colour_to_brand_dict[msg.channel] + "; font-size:16px\">" + msg.channel + "</span>" + " " + "<span style= \"font-size:16px;\">" + "£" + msg.count + "</span>" + '\n';
        messages.push(message_string);

      }
    });

    window.setInterval(function () {
      var total_order_value = 0, total_no_of_order = 0;
      var data_string;
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      for (var key in value_dict) { total_order_value += value_dict[key] }
      for (var key in counter_dict) { total_no_of_order += counter_dict[key] }
      data_string = "Total number of order: " + total_no_of_order + "<br/>"
        + "Average order value: £" + (total_order_value / total_no_of_order).toFixed(2) + "<br/>"
        + "Value of order in last minute: £" + value_show_on_log.toFixed(2);
      document.getElementById("data").innerHTML = data_string;
      document.getElementById("lastmin").innerHTML = "Order value per minute:" + "<br/>" + "&nbsp &nbsp &nbsp &nbsp £" + (total_order_value / (h * 60 + m)).toFixed(2);
    }, 5000);


  </script>
</head>

<body>

    <div style="width:100%; padding-right:0%; padding-left:0%; opacity:0.7 ; z-index:9999; position:absolute;">
        <div style="margin-left:0px; margin-right:0px; padding-left:11%; padding-right:11%; width:11%; float:right; text-align:center; color:white; font-size:45px; font-weight:100; font-family: 'Roboto', sans-serif;">
           Beijing
           <span style="color:#808080; font-weight:100; font-family: 'Roboto', sans-serif;" id='txtBeijing'>
           </span>
         </div>

      <div style="margin-left:0px;margin-right:0px; padding-left:11%; padding-right:11%; width:11%; float:right; text-align:center; color:white; font-size:45px; font-weight:100; font-family: 'Roboto', sans-serif;">
        London <span style="color:#808080; font-weight:100; font-family: 'Roboto', sans-serif;" id='txtLondon'>
        </span>
      </div>
      <div style="margin-left:0px;margin-right:0px; padding-left:11%; padding-right:11%; width:11%; float:right; text-align:center; color:white; font-size:45px; font-weight:100; font-family: 'Roboto', sans-serif;">
        New York <span style="color:#808080; font-weight:100; font-family: 'Roboto', sans-serif;" id='txtNyc'>
        </span>
      </div>


    </div>
    <div id="regions_div"></div>

  <div class="ex1">
    <p>

      <br>
      <p id="data" style="font-size:16px"></p>
    </p>
    <p id="log_entries"></p>
  </div>
  <div style="position: relative; left: 775px; top:800px; font-family: 'Roboto', sans-serif; font-size: 24px; color: #909090; z-index: 20;">
    <p id="lastmin">
      <p>
  </div>
  <div id="legend_div" style="padding-left:2%; padding-bottom:5%; z-index: 100; position:relative; top:400px;width:23%; height:30%; font-family: monospace; font-size: 16px; color:#808080; ">

    <!-- some googling on this would be good -->
    <table>
      <tr>
        <td id="col11" style="width: 20px;">
        </td>
        <td id="col12">
        </td>
      </tr>
      <tr>
        <td id="col21" style="width: 20px; margin-top:10%; margin-bottom:10%;">
        </td>
        <td id="col22">
        </td>
      </tr>
      <tr>

        <td id="col31" style="width: 20px; margin-top:10%; margin-bottom:10%;">
        </td>
        <td id="col32">
        </td>
      </tr>
      <tr>
        <td id="col41" style="width: 20px; margin-top:10%; margin-bottom:10%;">
        </td>
        <td id="col42">
        </td>
      </tr>
      <tr>
        <td id="col51" style="width: 20px; margin-top:10%; margin-bottom:10%;">
        </td>
        <td id="col52">
        </td>
      </tr>
    </table>
  </div>
  <div id='Title_div'>
    <p id='Title' style="margin-bottom: 50px; margin-right: 85%; padding-left:2%; padding-right:20%; padding-bottom:5%; z-index: 100; position:relative; top:300px;width:15%; height:30%; font-family: 'Roboto', sans-serif; font-weight:100; font-size: 30px; color:#808080; word-wrap:break-word;">
    </p>
  </div>
</body>


</html>
